/* style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 50px;
}

footer {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body.dark-mode {
    background-color: #1a1a1a;
    color: #fff;
}

/* Efek Hover pada Gambar */
section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; 
    transition: transform 0.3s ease-in-out; 
}

section img:hover {
    transform: scale(1.1); 
}

/* Efek Pop-up Profil */
.profile-picture {
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8); /* Efek blur background */
    z-index: 9999;
}

.popup img {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    display: block;
}

/* Tambahkan gaya tambahan sesuai kebutuhan Anda */
